[mysql]
port = 3306
socket=/var/run/mysqld/mysqld.sock

[mysqld]
user = root
datadir = /var/lib/mysql
port = 3306
socket=/var/run/mysqld/mysqld.sock
log_error=/var/log/mysql/mysql_error.log
bind-address = 0.0.0.0
skip-networking = false
general_log_file=/var/log/mysql/mysql.log
general_log=1
